<!-- navbar -->
<header class="header" id="header">
  <nav class="navbar">
    <a href="/" class="nav_brand">Ayush</a>
    <ul class="menu_list">
      <li class="nav_item"><a href="/" class="nav_link">Home</a></li>
      <li class="nav_item"><a href="/about" class="nav_link">about</a></li>
      <li class="nav_item">
        <a href="/create/blog" class="nav_link">create blog</a>
      </li>
      <li class="nav_item">
        <a href="/contact" class="nav_link">contact</a>
      </li>
    </ul>
    <button class="toggler">
      <div class="toggler_icon bar-1"></div>
      <div class="toggler_icon bar-2"></div>
      <div class="toggler_icon bar-3"></div>
    </button>
  </nav>
</header>
