<header class="header" id="header">
  <a href="/">
    <img src="/assets/logo.png" alt="logo" class="logo" />
  </a>
  <nav class="navbar">
    <ul class="menu_list">
      <li class="nav_item"><a href="/" class="nav_link">Home</a></li>
      <li class="nav_item"><a href="/about" class="nav_link">about</a></li>
      <li class="nav_item"><a href="/contact" class="nav_link">contact</a></li>
    </ul>
  </nav>
  <button class="toggler">
    <div class="toggler_icon bar-1"></div>
    <div class="toggler_icon bar-2"></div>
    <div class="toggler_icon bar-3"></div>
  </button>
</header>
