<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head.ejs') %>

  <body>
    <%- include('./components/navbar.ejs') %>
    <section class="section error" id="error">
      <h1>
        Oops!... Page not found. <i class="fa-regular fa-face-sad-cry"></i>
      </h1>
    </section>
  </body>
</html>
