<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <!-- navbar -->
    <%- include('./partials/navbar.ejs') %>

    <div class="section error_page">
      <h1 class="display">Page not found!...</h1>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
